[DEFAULT]
db_host = 127.0.0.1
db_name = PyLoca
db_port = 5432
db_user = postgres
db_password = postgres
db_connect_timeout = 5
fp_phone1_table_treevwcol = True
fp_phone2_table_treevwcol = False
fp_email_table_treevwcol = True
fp_zipcode_table_treevwcol = False
fp_state_table_treevwcol = False
fp_city_table_treevwcol = False
fp_neighbor_table_treevwcol = False
fp_street_table_treevwcol = False
fp_number_table_treevwcol = False
fp_complement_table_treevwcol = False
fp_login_table_treevwcol = False
fp_phone1_menuitem = True
fp_pnone2_menuitem = False
fp_email_menuitem = True
fp_zipcode_menuitem = False
fp_state_menuitem = False
fp_city_menuitem = False
fp_neighbor_menuitem = False
fp_street_menuitem = False
fp_number_menuitem = False
fp_complement_menuitem = False
fp_login_menuitem = False
webcam_app = cheessse

[db_connection]
db_host = 192.168.56.2
db_name = PyLoca
db_port = 5432
db_user = postgres
db_password = $Sat2598$
db_connect_timeout = 5

[persons_columns_menu]
fp_pnone2_menuitem = False
fp_zipcode_menuitem = False
fp_state_menuitem = False
fp_city_menuitem = False
fp_phone1_menuitem = False
fp_email_menuitem = False
fp_login_menuitem = True

[external_apps]

[persons_columns]
fp_phone2_table_treevwcol = False
fp_zipcode_table_treevwcol = False
fp_state_table_treevwcol = False
fp_city_table_treevwcol = False
fp_phone1_table_treevwcol = False
fp_email_table_treevwcol = False
fp_login_table_treevwcol = True

